@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --fonte-titulo-subtitulo: 'Exo', sans-serif;
    --fonte-padrao: 'Lato', sans-serif;

}
body {
    background-color: white;
    
    
    
}

.capa{
    text-align: center;
    padding: 80px;
    background-image: linear-gradient(to bottom,#B4DBEB,#A4DDF7,#AED4E7);
    
}
div.capa > h1{
    font-family: var(--fonte-titulo-subtitulo);
    width: bold;
    font-size: 50px;
    
}
div.capa > p{
    font-family: var(--fonte-padrao);
    font-size: 20px;
    padding-top: 20px;
    background-size: cover;
}

div.quemsomos{
    text-align: center;
    
}

h1{
    font-family: var(--fonte-titulo-subtitulo);
    color: black;
}
h2{
    font-family: var(--fonte-titulo-subtitulo);
    font-size: 34px;
}
p{
    font-family: var(--fonte-padrao);
    font-size: 16px;
}
.botao{
    background-color: #EF502E;
    border: none;
    color:white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px ;
    margin-top: 30px;
    cursor: pointer;
   border-radius: 18px;
    
    
}
.porqueescolher{
    text-align: center;
    margin: 30px;
    font-family: var(--fonte-titulo-subtitulo);
    font-size: 30px;
    font-weight: bold;  
}
.porqueescolher > h1{
    font-weight: bold;
    color: white;
    background-color: #B4DBEB;
    
}
.quemsomos{
    background-image: url(../imagens/Background-01.png);
    margin: auto;
    height: 98vh;
    background-size: cover;
}
.container1{
    display: grid;
    grid-template-columns: auto auto;
}

.coluna{

  border: 1px ;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: auto;background-position: left center;
  
}
.container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-image: url(../imagens/background-02.png);
  background-repeat: no-repeat;
  
}

.item{
  background-color: rgba(255, 255, 255, 0.411);
  border: 1px ;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
div.item > p{
    color: white;
    font-family: var(--fonte-titulo-subtitulo);
    font-size: 36px;
    font-weight: bold;
}
