@charset "UTF-8";

/*
    Tudo que em HTML é id     = em CSS é # (Só pode ter um elemnto)
    tudo que em HTML é class  = em CSS é . (Pode vários elementos)
*/
body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
.basico{
    color: #3c805e;
}
.intermediario{
    color: #80793c;
}
.avancado{
    color: #803c3c;
}
.destaque{
    background-color: #c5c56070;
}
h1#principal{
    text-align: center;
    background-color: #3c805e;
    color: white;
}
h1{
    color: rgb(4, 109, 0);
}
h2{
    color: #3c805e;
}